:root {
  --green: #00523a;

  --login-gradient-start: #e6f7ef;
  --login-yellow: #fee500;
  --login-brown: #3c1e1e;
  --login-gray: #707973;

  /* Base */
  --white: #ffffff;
  --black: #000000;

  /* App colors */
  --background: var(--white);
  --foreground: var(--black);

  /* Font */
  --font-pretendard:
    "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@theme inline {
  --color-green: var(--green);

  --color-login-gradient-start: var(--login-gradient-start);
  --color-login-yellow: var(--login-yellow);
  --color-login-brown: var(--login-brown);
  --color-login-gray: var(--login-gray);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-pretendard);
}
