:root {
  --green: #00523a;
  --light-green: #f4fef7;
  --deep-green: #bfc9c2;

  --light-gray: #e0e3e8;
  --deep-gray: #707973;

  --red: #e72727;
  --yellow: #fee500;
  --brown: #3c1e1e;

  --login-gradient-start: #e6f7ef;

  --signup-gradient-end: #f0fdf4;

  /* Base */
  --white: #ffffff;
  --black: #000000;

  /* Font */
  --font-pretendard:
    "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@theme inline {
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-deep-green: var(--deep-green);

  --color-light-gray: var(--light-gray);
  --color-deep-gray: var(--deep-gray);

  --color-red: var(--red);
  --color-yellow: var(--yellow);
  --color-brown: var(--brown);

  --color-login-gradient-start: var(--login-gradient-start);

  --color-signup-gradient-end: var(--signup-gradient-end);

  --color-white: var(--white);
  --color-black: var(--black);

  --font-sans: var(--font-pretendard);
}
