:root {
  --green: #00523a;
  --light-green: #f4fef7;
  --deep-green: #bfc9c2;

  --light-gray: #e0e3e8;
  --deep-gray: #707973;

  --red: #e72727;

  --login-gradient-start: #e6f7ef;
  --login-yellow: #fee500;
  --login-brown: #3c1e1e;

  --signup-gradient-end: #f0fdf4;

  /* Base */
  --white: #ffffff;
  --black: #000000;

  /* App colors */
  --background: var(--white);
  --foreground: var(--black);

  /* Font */
  --font-pretendard:
    "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@theme inline {
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-deep-green: var(--deep-green);

  --color-light-gray: var(--light-gray);
  --color-deep-gray: var(--deep-gray);

  --color-red: var(--red);

  --color-login-gradient-start: var(--login-gradient-start);
  --color-login-yellow: var(--login-yellow);
  --color-login-brown: var(--login-brown);

  --color-signup-gradient-end: var(--signup-gradient-end);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-pretendard);
}
